* {
    font-family: 'Courier New', Courier, monospace;
}

.card {
    margin: 20px;
    padding: 20px;
    text-align: center;
    color: black;
}
#get-started-btn {
    padding: 10px;
    color: black;
    background: pink;
    
}

#printed-exercises-section {
    margin: 10px;
    padding: 20px;
    max-width: fit-content;
    line-height: 2;
    text-align: center;
    justify-content: center;
}

section {

}
